*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #23a5d549;
}
.container{
    border-radius: 5px;
    width: 400px;
    aspect-ratio: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column ;
    background: linear-gradient(to top left, #ee7752,#23a6d5, #e73c7eb9,  #23d5abab) center/cover;
    background-size: 400% 400%;
    animation: gradient 26s ease-in infinite;
}
@keyframes gradient {
    0% {background-position: 0% 50%; }
    50% {background-position: 100% 50%; }
    100% {background-position: 0% 50%; }
}
.progress-con{
    width: 290px;
    height: 30px;
    border-radius: 5px;
    margin-bottom: 2rem;
    border: 1px solid #820de2;
    margin-top: 0.6rem;
    .progress-bar{
        width: 0%;
        height: 100%;
        background: linear-gradient( to bottom right,#e73c7eb9, #3f768a98);
    }
}
form{
    .step{
        display: none;
    }
    .step.active{
        display: block;
    }
    input{
        font-size: 0.9rem;
        padding: 0.6rem 3rem;
        margin: 0 0.6rem 0.6rem 0.6rem;
        border-radius: 6px;
        border: 1.5px solid #820de2;
        outline: none;
        background: transparent;
        color: #f7f7f7;
    }
    input::placeholder {
  color: #f7f7f7;
}
h2{
    font-size: 1.2rem;
      color: #f7f7f7;
}
p{
    font-size: 1rem;
      color: #f7f7f7;
}
.submit{
        font-size: 0.9rem;
        padding: 0.2rem 1rem;
        margin: 0.6rem;
        border-radius: 6px;
        border: 1.5px solid #820de2;
        outline: none;
        background: transparent;
        color: #f7f7f7;
        cursor: pointer;
        transition: 0.7s ease-in-out;
    }.submit:hover{
    transform: translateY(-3px);
    background: #ee7752;  
}
}
.prev, .next{
    margin: 0.6rem;
     cursor: pointer;
     transition: 0.7s ease-in-out;
}
.prev, .next{
    padding: 0.3rem 0.9rem;
    border: 1px solid #820de2;
    outline: none;
    border-radius: 4px;
    color: #f7f7f7;
    background: transparent;
}
.prev:hover{
   transform: translateY(-3px);
    background: #ee7752; 
}
.next:hover{
   transform: translateY(-3px);
    background: #ee7752; 
}